<% content_for :title, 'Whiteboard Password Reset Confirmation' %>

<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">Hi <%=@person.first_name%>, we already have your account. Would you like to change your <%="@#{GOOGLE_DOMAIN}"%> password?</h1>

<form action="<%= edit_password_reset_path(@person.password_reset_token) %>" method="get" role="confirm_reset">

  <div>
    <p>
      <b>Instructions</b>
      <br/>You may choose to keep or change your password. Your new password will be synchronized with your whiteboard account.
    </p>
    </br>

    <%= field_set_tag nil, :class=>'cmu_table', do %>
        <p>
          <%= radio_button_tag(:password_reset_confirmation, "no", :true) %>
          Later
        </p>
        <p>
          <%= radio_button_tag(:password_reset_confirmation, "yes") %>
          Change now!
        </p>
    <% end %>
    </br>
    <input type="submit" value="   Go   " id="confirmPasswordReser">
  </div>
  </br>

</form>

